- remove_form_id = local_assigns.fetch(:remove_form_id, nil)

- if group.marked_for_deletion?
  = render Pajamas::CardComponent.new(header_options: { class: 'gl-px-5 gl-py-4 gl-border-b-1 gl-border-b-solid gl-border-gray-100' }, body_options: { class: 'gl-px-5 gl-py-4' }) do |c|
    - c.with_header do
      .gl-flex.gl-grow
        %h4.gl-text-base.gl-leading-24.gl-m-0.gl-text-red-500= _('Permanently delete group')

    - c.with_body do
      = form_tag(group, method: :delete, id: remove_form_id) do
        %p
          %strong= _('Deleting this group also deletes all child projects, including archived projects, and their resources.')
        %p= immediately_remove_group_message(group)
        %p
          %strong= _('Are you ABSOLUTELY SURE you wish to delete this group?')

        = hidden_field_tag(:permanently_remove, true)

        = render 'groups/settings/remove_button', group: group, remove_form_id: remove_form_id
